body {
	text-align: center;
	background-color: coral;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

h2 {
	font-style: italic;
}

table, th, td {
  border: 1px solid black;
}

ul {
	text-align: left;
}

.hilite {
	background-color: teal;
}

.interesting-info {
	background-color: white;
}