h1, h2, h4, .section-header {
	text-align: center;
}

h2 {
	font-style: italic;
}

.thicc {
	font-weight: bold;
}

.interesting-info {
	background-color: blue;
}

table, th, td {
  border: 1px solid black;
}